@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  color: lavender;
  background: darkslategray;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
font-family: 'Raleway', sans-serif;
}

#greeting {
    font-size: 9vh;
}

img {
  /*width: 20%;*/
}

button {
	background-color:white;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
}
button:hover {
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}


#slide {
  height: 100%;
}

.header {
  /*margin-top: 100px;*/
}

.formheader {
  /*margin-top: 120px;*/
  background: lavender;
  color: gray;
  padding: 10px;
  bottom: 0;
}

.flex {
  display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin: 0;
}

input[type="text"] {
  /*margin: 20px;*/
  background: white;
}


.header>.container h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: blue;
}

h1 {
  /* font-family:sans-serif; */
}
.examplelink a {
  color: red;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

#readme.container {
  text-align:center;
}

html {
    box-sizing: border-box;
}



.sm>li {
  list-style-type: none;
}

/* navbar li */
/*--------------------------------------------------------------------------*/
.navContainer {
    display: inline-flex;
}

.navbar {
  width: 100vw;
  text-align: center;
  position:fixed;
  background: white;
  top: 0;
  right: 0;
}

.navbar>ul>li {
  display: inline;
  list-style-type: none;
  margin: 5px;
  position:relative;
}

.navbar .dropdown {
  display:none;
  position:absolute;
  top:20px;
  right:0;
  background: white;
  padding:10px;
  list-style-type:none;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: black;
  clear: both;
  padding:10px;
  display: block;

}

/*.navbar a:hover + .dropdown, .dropdown:hover {
  display:block;
}*/

.navbar>li {
  background: #F5F0E4;
  font-size: larger;
}

.navbar li:nth-child(2n) a {

}

.navbar li:nth-child(2n) {
  background: lavender;
  color: gray;
}


.navbar li:hover{
  background: gray;
}

.navbarImport {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

li.dropparent:hover .dropdown {
    display: block;
}


.navbar .dropdown {
    display: none;
    position: absolute;
    /*top: 7px;*/
    right: 0;
    background: white;
    /* padding: 10px; */
    list-style-type: none;
    z-index: 1;
    width: 20%;
    padding: 0px;
  }



/*CYOA*/

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choice {
      display: inline-block;
      background: lavender;
      color: darkslategray;
      font-size: 1em;
      border: 1px solid black;
      padding: 10px;
      height: 60px;
      text-align: center;
      cursor: pointer;
      width: 30vw;
      margin: 1vw;
      border-radius: 15vw;
      font-weight: bold;

}

/* */

.achewoodComic {
    width: 631px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

/* INDEX.HTML */

.portrait {
   width: 90%;
   max-width: 70vh;
   border-radius: 10%;
   background: lavender;
   padding: 1%;
   grid-area: portrait;
   display: block;
   margin-left: auto;
   margin-right: auto;
   grid-column-start: 1;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 8;
   }

#portraitwithbuttons {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8,1fr);
  max-height: 70vh;
}

#subheader {
/*color: mintcream;*/
font-style: italic;
grid-area: subheader;

grid-column-start: 8;
grid-column-end: 12;
grid-row-start: 1;
grid-row-end: 1;
}

.button1 {
  grid-area: button1;

  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 70%;

    vertical-align: middle;
    line-height: 20%;
}

.button2 {
  grid-area: button2;

  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 3;
    height: 70%;

        vertical-align: middle;
        line-height: 20%;
}

.boxContainer {
    grid-area: box;
/*    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 12;
    display: grid;*/
}



/* Countdown */
/*-----------------------------------------------------------------------*/
#countdown2 {
    background-color: white;
    padding: 10px;
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 8;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    border-radius: 2%;
}

#countdown2 img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

#countdown>li {
  list-style-type: none;
  padding: 5px;
    background: blue;
}

#countdown2>li:first-child, #countdown2>li:nth-child(4n) {
  background: blue;
}


#countdown2>li:nth-child(4n-2), #countdown2>li:nth-child(4n-1) {
  background: indigo;
}


#countdown2>li:hover {
  background: black;
}

#countdown2 a {
  color: white;
  text-decoration-line: none;
}

#input {
  width: 100%;
}

/* Countdown */
/*-----------------------------------------------------------------------*/
#countdown {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr /*1fr*/;
  color: black;
  grid-area: countdown;
}

#countdown>li {
  list-style-type: none;
  padding: 5px;
    background: blue;
}

/*#countdown>li:first-child {
  background: red;
}*/


#countdown>li:nth-child(4n-2) {
  background: indigo;
}

#countdown>li:nth-child(4n-1) {
  background: indigo;
}

#countdown>li:nth-child(4n) {
  background: blue;
}


#countdown>li:hover {
  background: black;
}

#countdown a {
  color: white;
  text-decoration-line: none;
}

#input {
  width: 100%;
}


 /* EGG */

 #eggInput {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(4, 1fr);
   margin-top:5%;
   margin-bottom: 5%;
 }

#eggInput>label {
  grid-column-start: 1;
  grid-column-end: 1;
}


#content {
  color: black;
  background-color: lavender;
}

.blogEntry>h2 {
  text-align: center;
}

.blogEntry {
  padding: 5px;
}
