body {
  color: lavender;
  background: black;
}
img {
  width: 20%;
}
h1 {
  font-family:sans-serif;
}
.examplelink a {
  color: red;
}
#subheader {
color: mintcream;
font-style: italic;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}

#navbar li {
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  color: gray;
}

#navbar li:nth-child(2n) a {
  // applies to every other list item of every list
  color:yellow:
}

#navbar li:nth-child(2n) {
  color: yellow;
  background: white;
}
