
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  color: lavender;
  background: darkslategray;
  font-family: 'Open Sans', sans-serif;
}
img {
  width: 20%;
}

.header {
  margin-top: 100px;
}

.formheader {
  margin-top: 120px;
  background: lavender;
  color: gray;
  padding: 10px;
  bottom: 0;
}

.flex {
  display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin: 0;
}

input[type="text"] {
  /*margin: 20px;*/
  background: white;
}


.header>.container h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: blue;
}

h1 {
  font-family:sans-serif;
}
.examplelink a {
  color: red;
}
#subheader {
color: mintcream;
font-style: italic;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

#readme.container {
  text-align:center;
}

html {
    box-sizing: border-box;
}



.sm>li {
  list-style-type: none;
}

/* navbar li */
/*--------------------------------------------------------------------------*/
.navbar {
  width: 100vw;
  text-align: center;
  position:fixed;
  background: white;
  top: 0;
  right: 0;
}

.navbar>ul>li {
  display: inline;
  list-style-type: none;
  margin: 5px;
  position:relative;
}

.navbar .dropdown {
  display:none;
  position:absolute;
  top:20px;
  right:0;
  background: white;
  padding:10px;
  list-style-type:none;
}

.navbar a {
  text-decoration: none;
  color: black;
  clear: both;
  padding:10px;
}

.navbar a:hover + .dropdown, .dropdown:hover {
  display:block;
}


.navbar>li {
  background: #F5F0E4;
  font-size: larger;
}

.navbar li:nth-child(2n) a {

}

.navbar li:nth-child(2n) {
  background: lavender;
  color: gray;
}

.navbar li:hover{
  background: gray;
}

/* Countdown */
/*-----------------------------------------------------------------------*/
#countdown {
  background-color: white;
  padding: 10px;
}

#countdown>li {
  list-style-type: none;
  padding: 5px;
}

#countdown>li:first-child {
  background: red;
}

#countdown>li:nth-child(2) {
  background: orange;
}

#countdown>li:nth-child(2n+1) {
  background: indigo;
}

#countdown>li:nth-child(2n) {
  background: blue;
}

#countdown>li:last-child {
  background: violet;
}

#countdown>li:hover {
  background: black;
}

#input {
  width: 100%;
}
